{
  "env": {
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "extends": "eslint:recommended",
  "plugins": ["react"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-unused-vars": "warn",
    "no-unused-expressions": 1,
    "quotes": [1, "double"],
    "no-console": "error",
    "react/jsx-uses-vars": "error",
    "react/jsx-uses-react": "error"
  }
}
